:root {
  --obsidian-blue: #003459;
  --champagne: #D2B68A;
  --goldenrod: #DAA520;
  --marble: #E5E4E0;

  --supp-blue-01: #202E66;
  --supp-blue-02: #2A4176;
  --supp-blue-03: #365587;
  --supp-blue-04: #456B9A;
  --supp-blue-05: #5483AE;
  --supp-blue-06: #65A0C6;
  --supp-blue-07: #79C2E1;

  --supp-ocean-01: #008BA4;
  --supp-ocean-02: #0F92AA;
  --supp-ocean-03: #3F9AB0;
  --supp-ocean-04: #5CA4B7;
  --supp-ocean-05: #74AEBD;
  --supp-ocean-06: #89B9C6;
  --supp-ocean-07: #9FC4CE;

  --supp-ember-01: #BE3633;
  --supp-ember-02: #C24A35;
  --supp-ember-03: #C75E38;
  --supp-ember-04: #CC703B;
  --supp-ember-05: #D1823F;
  --supp-ember-06: #D79543;
  --supp-ember-07: #DDA846;

  --white: #FFFFFF;
  --black: #2b2b2b;
  --pearl: #FDFFFF;

  --line-dark-01: #00000014;
  --line-dark-02: #00000029;
  --line-dark-03: #0000003d;
  --line-dark-04: #00000052;
  --line-dark-05: #00000066;
  --line-dark-06: #0000007a;
  --line-dark-07: #0000008e;

  --line-light-01: #00000014;
  --line-light-02: #00000029;
  --line-light-03: #0000003d;
  --line-light-04: #00000052;
  --line-light-05: #00000066;
  --line-light-06: #0000007a;
  --line-light-07: #0000008e;

  --goldenrod-shadow: 0px 8px 10px #866d3194;
}